{% extends 'base.html' %} {% macro _body() %} {% for operacoes in operacao %}

<div class="card-body">
    <div class="row">
        <div class="col-12 col-sm-6">
            <!-- <h3 class="d-inline-block d-sm-none">{{ operacoes.cliente }}</h3> -->
            <div class="col-12">
                <img src="/static/media/{{operacoes.id}}.jpg" class="product-image" alt="Product Image">
            </div>
        </div>
        <div class="col-12 col-sm-6">

            <h3 class="my-3">{{ operacoes.cliente }}</h3>
            <p>Data da {{ operacoes.operacao}}<br>{{ operacoes.data_hora }}</p>
            <p>Descrição do equipamento <br>{{ operacoes.equipamento }}</p>
            <p>Fibra optica <br>{{ operacoes.drop }}</p>
            <p>Observação da {{ operacoes.operacao}}<br>{{operacoes.observacao}}</p>
            <a href="/operacoes/deletar/{{operacoes.id}}"><button type="button" class="btn btn-block btn-primary btn-sm">Apagar o peração</button></a>

        </div>{% endfor %}
    </div>
</div>


{% endmacro %} {% macro mostrar() %}
<div class="col">

    {{card_primary( title="Detalhes", card_tools=buttons( link="/operacoes/novo", button_type="button", _class="btn-default", button_text="Nova operação"), card_body=_body() )}}
</div>
{% endmacro %} {% block content %} {{ wrapper_content(mostrar()) }} {% endblock %}