{% extends 'base.html' %} 



{% macro _body() %}
<table class="table table-head-fixed table-striped text-center table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Tecnico Reponsavel</th>
            <th class="col-3">Cliente</th>
            <th class="col-2">Operação</th>
            <th class="col-3">Data e Hora</th>
            <th class="col-1">Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.modelo }}</td>
            <td>{{ cliente.estado }}</td>
            <td>{{ cliente.cliente }}</td>
            <td>{{ cliente.data }}</td>
            <td>
                <div class="input-group-prepend float-right">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                            Action
                        </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Editar</a>
                        <a class="dropdown-item" href="/clientes/deletar/{{cliente.id}}">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% macro mostrar() %}
<div class="col">
    {{card_primary(
        title="OS's", 

        card_tools=buttons(
            link="novo",
            button_type="button",
            _class="btn-primary btn-sm",
            button_text="Nova Ordem de Serviço"),

        card_body=_body()
        )}}
</div>
{% endmacro %}

{% block content %}
{{ wrapper_content(
    mostrar()
) }}
{% endblock %}
