{% extends 'base.html' %} 



{% macro _body() %}
<h2>:( Perdão esta página ainda esta em desenvolvimento!</h2>
{% endmacro %}


{% macro mostrar() %}
<div class="col">

    {{card_primary(

        title="Exemplo", 

        card_body=_body(),

        card_footer=buttons(
            button_type="button",
            link="/operacoes/novo",
            _class="btn-default float-right",
            button_text="Voltar"),
        is_form=True,
        form_action=""
        )}}
</div>
{% endmacro %}

{% block content %}
{{ wrapper_content(mostrar()) }}
{% endblock %}
