{% macro footer() %}

<footer class="main-footer">
    <!-- To the right -->
    <!-- Default to the left -->
    <strong>Desenvolvido por Krypta &copy; 2022 <a target=”_blank”  href="https://www.google.com/search?q=dreamakers&rlz=1C1FCXM_pt-PTBR994BR994&oq=dreamakerssa&aqs=chrome..69i57j69i65l3.12160j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBtxjXrVrLNZlXnqc6wCh3ilcNpBJw:1650992814894&rflfq=1&num=10&rldimm=3776904682642328829&lqi=CgpkcmVhbWFrZXJzWgwiCmRyZWFtYWtlcnOSARBlZHVjYXRpb25fY2VudGVy&ved=2ahUKEwiZ_vvBm7L3AhUeSLgEHSqYDj4QvS56BAgKEAE&sa=X&rlst=f#rlfi=hd:;si:3776904682642328829,l,CgpkcmVhbWFrZXJzWgwiCmRyZWFtYWtlcnOSARBlZHVjYXRpb25fY2VudGVy;mv:[[49.2135859,-114.15392369999999],[-38.4957424,165.96322999999998]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">DreaMakers.dev</a>.</strong>
</footer>
{% endmacro %}