<!-- 
  Aqui é renderizado o layolt principal da plataforma
  Para separar componentes está sendo utilizado a função
  macro do jinja. Que permite separa uma pequena parte de 
  codigo em um componente reutilizavel. Todos om componentes 
  do layolt principal estão na pasta ./macros/base/
  
-->

<!-- Importando layolt principal com o jinja -->
{% from "macros/base/head.html" import head %}
{% from "macros/base/navbar.html" import navibar %}
{% from "macros/base/sidebar.html" import sidebar %}
{% from "macros/base/wrapper_content.html" import wrapper_content %}
{% from "macros/base/control_sidebar.html" import control_sidebar %}
{% from "macros/base/footer.html" import footer %}
{% from "macros/base/scripts.html" import scripts %}

<!-- Importando componetes -->
{% from "macros/components/daterange.html" import date_range %}
{% from "macros/components/select.html" import select %}
{% from "macros/components/cards.html" import card_primary, card_primary_form %}
{% from "macros/components/buttons.html" import buttons %}


<!-- Instanciando um documento base para receber os componentes -->
<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD -->
{{ head() }}

<!-- BODY -->
<body class="hold-transition sidebar-mini dark-mode">
  <div class="wrapper">
    <!-- Navbar -->
    {{ navibar() }}
    <!-- Main Sidebar Container -->
    {{ sidebar() }}

    <!-- Content Wrapper. Contains page content -->
    {% block content %}{% endblock %}
    <!-- Control Sidebar -->
    {{ control_sidebar() }}
    <!-- Main Footer -->
    {{ footer() }}

  </div>
<!-- REQUIRED SCRIPTS -->
{{ scripts() }}
</body>
</html>
