<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock.css') }}">

    <title> Novo cliente</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="add">
                <a href="/"> <i class='bx bxs-exit'></i>
                </a>
                <a href="/clientes/novo"> <i class='bx bxs-add-to-queue'></i></a>
            </div>
        </header>

        <div class="item">
            <div class="item item-1">
                <h1>Nome e estado do cliente</h1>
                <footer>
                    <h2 class="footerText">Data : {{today}}</h2>
                </footer>
            </div>


            <div class="item item-3">

                <table class="tabelas">
                    <tr>
                        <td>
                            <i> Total</i>
                            <td>
                                <a href="/">
                                    <section><i>{{ total }}</i></section>
                                </a>
                            </td>
                        </td>
                    </tr>
                    <tr>{% for cliente in clientes %}
                        <td>
                            <p>{{ cliente.nome }}</p>

                            <td>{% if cliente.estado == True %}
                                <p>Ativo</p>
                                {% else %}
                                <p>desativado</p>
                                {% endif %}
                            </td>

                            <td>
                                </a>
                                <a href="/clientes/editar/{{cliente.id}}"> <i class='bx bx-edit'></i>
                                </a>
                            </td>
                        </td>

                    </tr>{% endfor %}

                </table>
            </div>

        </div>


        <div class="total ">
            <h5>Total</h5>
            <p> {{ total }}</p>
        </div>

        <div class="content ">
            <a href="/ "><i class='bx bxs-chevron-left bx-fade-left' ></i></a>
            <a href="/total_insta_retirada ">
                <i class='bx bx-chevrons-right bx-fade-left'></i>
            </a>
        </div>
</body>

</htmla