{% extends 'base.html' %} {% macro _body() %}
<table class="table table-head-fixed table-striped text-center table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Modelo Mac</th>
            <th class="col-3">Cliente Atual</th>
            <th class="col-2">Estado</th>
            <th class="col-3">Ultima Atualização</th>
            <th class="col-1">Ações</th>

        </tr>
    </thead>

    <tbody>
        {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.id }}</td>
            <td>{{ equipamento.modelo }}</td>
            <td>{{ equipamento.cliente }}</td>
            <td>{{ equipamento.estado }}</td>
            <td>{{ equipamento.data }}</td>

            <td>
                <div class="input-group-prepend float-right">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                            Action
                        </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="editar/{{equipamento.id}}">Editar</a>
                        <a class="dropdown-item" href="deletar/{{equipamento.id}}">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endmacro %} {% macro mostrar() %}
<div class="col">
    {{card_primary( title="Estoque", card_tools=buttons( link="novo", button_type="button", _class="btn-primary btn-sm", button_text="Cadastrar"), card_body=_body() )}}
</div>
{% endmacro %} {% block content %} {{ wrapper_content( mostrar() ) }} {% endblock %}