{% extends 'base.html' %} {% macro _body() %}
<div class="col-6 col-md-3 text-center">
    <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" name="drop" class="knob" value="0" data-min="0" data-max="1000" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 18px Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; appearance: none;"></div>

    <div class="knob-label">Total de fibra usado</div>
</div>
<br>
<table class="table table-head-fixed table-striped text-center table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Modelo Mac</th>
            <th class="col-3">Cliente Atual</th>
            <th class="col-2">Estado</th>
            <th class="col-3">Ultima Atualização</th>
            <th class="col-1">Ações</th>

        </tr>
    </thead>

    <tbody>
        {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.id }}</td>
            <td>{{ equipamento.modelo }}</td>
            <td>{{ equipamento.cliente }}</td>
            <td>{{ equipamento.estado }}</td>
            <td>{{ equipamento.data }}</td>

            <td>
                <div class="input-group-prepend float-right">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                            Action
                        </button>

                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" href="editar/{{equipamento.id}}">Editar</a> -->
                        <a class="dropdown-item" href="deletar/{{equipamento.id}}">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endmacro %} {% macro mostrar() %}
<div class="col">
    {{card_primary( title="Estoque", card_tools=buttons( link="novo", button_type="button", _class="btn-primary btn-sm", button_text="Cadastrar"), card_body=_body() )}}
</div>
{% endmacro %} {% block content %} {{ wrapper_content( mostrar() ) }} {% endblock %}