{% extends 'base.html' %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i> Gerenciar equipamentos
                            </h3>
                            <div class="card-tools">
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <a href="/equipamentos/novo" type="button" class="btn btn-primary btn-sm" data-toggle="off">Cadastrar</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-bordered table table-hover table-head-fixed table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Estado</th>
                                        <th>Data</th>
                                        <th>Historico</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <p>Total:{{total}}</p>

                                    {% for equipamento in equipamentos %}
                                    <tr>
                                        <td>{{equipamento.id}}</td>
                                        <td>{{equipamento.modelo}}</td>

                                        {% if equipamento.estado == '0' %}
                                        <td> Ativo </td>{% else %}
                                        <td>Desativado</td>{% endif %}
                                        <td>{{equipamento.data}}</td>
                                        <td>{{equipamento.historico}}</td>
                                        <td>
                                            <div class="input-group-prepend float-right">
                                                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                                        Action
                                                    </button>

                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Editar</a>
                                                    <a class="dropdown-item" href="/equipamentos/deletar/{{equipamento.id}}">Deletar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}