{% extends 'base.html' %} {% macro _body() %}
<div class="form-group">
    <label for="exampleInputEmail1">Modelo e mac do equipamento</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Descrição">
</div>
{% endmacro %} {% macro mostrar() %}
<div class="col">

    {{card_primary( title=" Adicionar novo equipamento", card_body=_body(), card_footer=buttons( button_type="submit", _class="btn-default float-right", button_text="Adicionar"), is_form=True, form_action="" )}}
</div>
{% endmacro %} {% block content %} {{ wrapper_content(mostrar()) }} {% endblock %}