{% extends 'base.html' %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i> Adicionar novo Equipamento
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <!-- <label for="exampleSelectBorderWidth2"><font style="vertical-align: inherit;">Apenas borda inferior </font><code>.form-control-border.border-width-2</code></label> -->

                            <label><font style="vertical-align: inherit;">Seleção personalizada </font></label>
                            <select class="custom-select">
                          <option><font style="vertical-align: inherit;">Opção 1 </font></option>
                          <option><font style="vertical-align: inherit;">opção 2 </font></option>
                          <option><font style="vertical-align: inherit;">opção 3 </font></option>
                          <option><font style="vertical-align: inherit;">opção 4 </font></option>
                          <option><font style="vertical-align: inherit;">opção 5 </font></option>
                        </select>

                            <!-- /.card -->

                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% endblock %}