{% extends 'base.html' %} {% macro _body() %}


<div class="card-header ui-sortable-handle" style="cursor: move;">
    <h3 class="card-title">
        <i class="fas fa-chart-pie mr-1"></i> Sales
    </h3>
    <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.card-header -->
<div class="card-body">
    <div class="tab-content p-0">
        <!-- Morris chart - Sales -->
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="revenue-chart-canvas" style="height: 300px; display: block; width: 434px;" class="chartjs-render-monitor" width="434" height="300"></canvas>
        </div>
        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
            <canvas id="sales-chart-canvas" style="height: 0px; display: block; width: 0px;" class="chartjs-render-monitor" width="0" height="0"></canvas>
        </div>
    </div>
</div>
<!-- /.card-body -->

<!-- /.card-body -->

{% endmacro %} {% macro mostrar() %}
<div class="row">
    <div class="col-lg-4 col-6">
        <!-- small card -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total }}</h3>

                <h4>Equipamentos<br>Cadastrados</h4>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="/equipamentos" class="small-box-footer">
          Mais Informações <i class="fas fa-arrow-circle-right"></i>
        </a>
        </div>
    </div>

    <div class="col-lg-4  col-6">
        <!-- small card -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ total_clientes }}</h3>

                <h4>Clientes<br>Cadastrados</h4>
            </div>
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <a href="/cliente" class="small-box-footer">
            Mais Informações <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ total_operacoes }}</h3>

                <h4>Ordens de Serviço</h4>
            </div>
            <div class="icon">
                <i class="fas fa-flag"></i>
            </div>
            <a href="operacoes" class="small-box-footer">
          Mais Informações <i class="fas fa-arrow-circle-right"></i>
        </a>
        </div>
    </div>

</div>
{{card_primary( card_body=_body(), _class="text-center" )}} {% endmacro %} {% block content %} {{ wrapper_content(mostrar()) }} {% endblock %}