<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='/login.css')}}">

    <title>Registro</title>
</head>

<body>

    <div id="login">
        <form action="" class="card" method="post">
            <div class="card-header">
                <h2>Registre-se</h2>
            </div>
            <div class="card-content-area">
                <label for="password">Nome</label>
                <input type="name" name="name" placeholder="Nome">
            </div>
            <div class="card-content-area">
                <div class="card-content-area">
                    <label for="usuario">Email</label>
                    <input type="email" name="email" placeholder="Insira um email">
                </div>
            </div>
            <div class="card-content-area">
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="**********">
            </div>
            <div class="card-footer">
                <input type="submit" class="submit" value="Logar">
                <!-- <a href="#" class="recuperar_senha">Esqueceu a senha?</a>

                <a href="/create_user" class="recuperar_senha">Registre-se</a> -->
            </div>
            <!-- <input type="username" name="username" placeholder="Insira um username"> -->
            <!-- <input type="password" name="password" placeholder="**********"> -->
            <!-- <input type="submit" class="btn" value="Logar"> -->
        </form>
        <!-- <a href="/register" target="_blank" rel="noopener noreferrer"><button class="">Cadastre-se</button></a> -->

    </div>


</body>

</html>