* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

body {
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
}

.container {
    align-content: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 1.5rem;
}

.content {
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn {
    color: blueviolet;
    padding: .5rem;
}

h1 {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

h2 {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

.total {
    border: 1px solid black;
    font-size: 1rem;
    text-align: center;
    width: 5rem;
    background-color: whitesmoke;
    color: #0081a7;
    font-family: 'Times New Roman', Times, serif;
}

.bx-fade-left {
    font-size: 1.5rem;
    margin-left: 1.4rem;
}

.bxs-exit {
    font-size: 1.9rem;
    color: aqua;
}

.bx-fade-left {
    font-size: 2rem;
    background-color: aqua;
    border-radius: 2rem;
}

.bxs-add-to-queue {
    font-size: 1rem;
    text-align: center;
    color: black;
    /* margin-left: 1rem;
    font-size: 1.9rem;
    color: aqua; */
}

.item {
    background-color: whitesmoke;
    border: 1px solid black;
    /* font-size: 0; */
    text-align: center;
}

.item p {
    /* text-align: justify; */
    font-size: .8rem;
    display: inline-block;
    vertical-align: top;
    color: black;
    /* margin-top: 2rem; */
}

.item img {
    padding: .2rem;
    /* margin-left: 1.5rem; */
    display: inline-block;
    /* vertical-align: top; */
}

td {
    font-size: 1rem;
    padding: .5rem;
    text-align: left;
}

td i {
    font-size: 1rem;
    text-align: center;
    color: black;
}

footer {
    /* margin-right: 7.5rem; */
    padding: .3rem;
    background-color: beige;
}

.tabelas {
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

section {
    padding: .3rem;
    border-radius: 1.5rem;
}

div .add .bxs-add-to-queue {
    margin-left: 1rem;
    font-size: 1.9rem;
    color: aqua;
}