{% extends 'base.html' %} {% macro _body() %}
<table class="table table-head-fixed table-striped text-center table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-4">cliente</th>
            <th class="col-2">Equipamento</th>
            <th class="col-2">Estado</th>
            <th class="col-3">Ultima Atualização</th>
            <th class="col-1">Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.equipamento }}</td>
            <td>{{ cliente.estado }}</td>
            <td>{{ cliente.data }}</td>
            <td>
                <div class="input-group-prepend float-right">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                            Action
                        </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="editar/{{cliente.id}}">Editar</a>
                        <a class="dropdown-item" href="deletar/{{cliente.id}}">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %} {% macro mostrar() %}
<div class="col">
    {{card_primary( title="Clientes", card_tools=buttons( link="novo", button_type="button", _class="btn-primary btn-sm", button_text="Cadastrar"), card_body=_body() )}}
</div>
{% endmacro %} {% block content %} {{ wrapper_content( mostrar() ) }} {% endblock %}